:root {
    --accent: var(--text);
}





.build-menu {
    background: #413e41;
    width: 1200px;
    height: 75px;
    left: 40px;
    top: 630px;


    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000040;

    transition: all ease-in-out 0.2s;
}

.build-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}






.build-menu-toggle {
    top: 603px;
    left: 1200px;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    background-color: rgb(124, 124, 124);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}